# Python 프로그래밍 평가
> NCS 소분류 : [200102] 정보기술개발<br>
> 평가방법 : 기타 작업형<br>
> 평가일시 : 2025-10-22<br>
> 시험시간 : 120분<br>
> ★★ 작업 후 해당 파일을 lovesome99@naver.com 으로 첨부하여 제출할것 ★★<br>

In [ ]:
# [문제1] 변수 product에 '스마트 센서'를, price에 45000을 저장한 후, 
#         "제품명: 스마트 센서, 가격: 45,000원" 형식으로 출력하는 코드를 작성하세요.

In [ ]:
# [문제2] members = ['철수', '민수', '영희', '지민'] 리스트에서 '영희'를 제거하고 
#         새로운 이름 '수현'을 리스트 맨 뒤에 추가한 후, 최종 리스트를 출력하세요.

In [ ]:
# [문제3] 변수 temp = 18을 설정하고, temp가 20도 미만이면 "난방을 시작합니다", 20도 이상이면 "적정 온도입니다"를 
#         출력하는 코드를 작성하세요.

In [ ]:
# [문제4] 1부터 10까지의 정수 중 홀수의 합계를 계산하고 그 결과를 출력하는 for 반복문을 작성하세요.

In [ ]:
# [문제5] 반지름을 인수로 받아 원의 넓이(πr2)를 반환하는 calculate_area(radius) 함수를 정의하고, 
#        반지름이 5일 때의 넓이(파이 값은 3.14로 가정)를 출력하세요.

In [ ]:
# [문제6] log.txt 파일을 생성하고, 파일 내부에 "시스템 시작" 문자열을 저장한 후 파일을 닫는 코드를 작성하세요.

In [ ]:
# [문제7] 리스트 data = ['A001', 'A005', 'A003']에서 'A005'가 포함되어 있는지 
#         in 연산자를 사용하여 확인하고 그 결과를 출력하세요.(포함하면 True, 아니면 False 출력)

In [ ]:
# [문제8] 리스트 scores = [90, 65, 80]를 생성하고, 리스트의 내장 .sort() 메서드를 사용하여 요소를 오름차순으로 정렬한 후 출력하세요

In [ ]:
# [문제9] 딕셔너리 connections = {'A': ['B', 'C'], 'B': ['A']}에서 노드 'A'와 연결된 모든 노드를 출력하는 코드를 작성하세요.

In [ ]:
# [문제10] 딕셔너리 traffic = {'서울': 100, '부산': 50}에서 '서울'의 값을 출력하세요.

In [ ]:
# [문제11] try-except 구문을 사용하여 문자열 'error'를 정수로 변환하려 할 때, "데이터 형식이 잘못되었습니다."를 출력하도록 처리하세요.

In [ ]:
# [문제12] 프로젝트 파일 다운로드를 위해 Git에서 가장 일반적으로 사용하는 명령어를 
#          변수 git_command에 문자열로 저장하고 출력하세요.(저장소는 자신의 깃 저장소를 넣을 것)

In [ ]:
# [문제13] 키는 'A', 'B', 'C', 값은 [10, 20, 30]인 딕셔너리를 사용하여 Pandas DataFrame df를 생성하고, df의 모든 컬럼 이름을 출력하세요.

In [ ]:
# [문제14] 다음 DataFrame df에서 'Traffic' 값이 100 초과인 행만 필터링하여 출력하세요. 
#          (data = {'Region': ['S', 'B'], 'Traffic': [95, 120]})

In [ ]:
# [문제15] 다음 DataFrame df에서 '점수' 컬럼의 최댓값과 최솟값을 각각 출력하는 코드를 작성하세요. 
#          (data = {'과목': ['M', 'E'], '점수': [85, 92]})

In [ ]:
# [문제16] Pandas Series s = pd.Series([5, 8, 3])를 생성하고, 
#          Matplotlib을 사용하여 선 그래프를 생성한 후 line_plot.png 파일로 저장하세요.

In [ ]:
# [문제17] math 모듈을 임포트하여 숫자 9의 제곱근을 계산하고 출력하는 코드를 작성하세요.

In [ ]:
# [문제18] 숫자 1부터 5까지의 정수를 각각 제곱한 값을 포함하는 새로운 리스트를 
#          리스트 컴프리헨션을 사용하여 생성하고 출력하세요.

In [ ]:
# [문제19] 다음 DataFrame df에서 온도가 50 초과이거나 10 미만인 행(이상치)을 찾아 
#          해당 행의 'Sensor' 값만 출력하는 코드를 작성하세요. 
#          (data = {'Sensor': ['A', 'B', 'C'], 'Temp': [25, 60, 5]})

In [ ]:
# [문제20] 다음 DataFrame df의 '교통량' 컬럼 데이터를 사용하여 선 그래프를 그리세요. 
#          이때, 그래프에 제목을 'Daily Traffic Trend'로 지정하고, 빨간색 점선으로 표시되도록 설정한 후, 
#          traffic_trend.png 파일로 저장하세요.

In [ ]:
# [문제21] show_menu() 함수를 완성하여 사용자가 메뉴를 선택하고, 총 가격을 계산하며, 주문을 종료할 수 있도록 기능을 추가하세요.

In [ ]:
MENU = {
    1: {"name": "스테이크", "price": 45000},
    2: {"name": "파스타", "price": 28000},
    3: {"name": "샐러드", "price": 15000},
    0: {"name": "주문 종료", "price": 0}
}
def show_menu():
    """
    메뉴를 출력하고, 사용자가 메뉴 번호를 입력하면 
    해당 메뉴를 주문 목록에 추가하며, 0을 입력하면 주문을 종료하고 총 가격을 출력합니다.
    """
    order_list = []
    total_price = 0
    while True:
        print("\n--- 메뉴판 ---")
        for num, item in MENU.items():
            print(f"{num}. {item['name']} ({item['price']}원)")
        print("-" * 15)
        
        try:
            choice = int(input("메뉴 번호를 입력하세요 (주문 종료: 0): "))
        except ValueError:
            print('잘못된 입력입니다. 숫자를 입력해 주세요.')
            continue
        if choice == 0:
            break
        
        if choice in MENU:
            selected_item = MENU[choice]
            order_list.append(selected_item['name'])
            
            # ---------------------
            # [코드 작성] 
            # ---------------------
            
            print(f" {selected_item['name']}가 추가되었습니다. 현재 총액: {total_price}원")
        else:
            print('메뉴 번호를 다시 확인해 주세요.')
        
        
    # 주문 종료 시 최종 결과 출력
    print("\n\n=== 최종 주문 내역 ===")
    if order_list:
        print(f'주문하신 메뉴: {', '.join(order_list)}')
        print(f'최종 결제 금액: {total_price}원')
    else:
        print("주문된 메뉴가 없습니다.")
    print("감사합니다.")
# 함수 실행
if __name__ == "__main__":
    show_menu()